@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine;

<h1>Machine Details</h1>
<hr>
<h3>@Html.DisplayFor(model => model.MachineName)</h3>
<hr>
@if (@Model.Engineers.Count == 0)
{
  <h3>No Engineers found</h3>
}
@foreach (var join in Model.Engineers)
{
  <h3>@Html.ActionLink(@join.Engineer.Name, "Details", "Engineers", new { id = join.EngineerId })</h3>
}
<hr>
<h5>@Html.ActionLink("Add Engineer to this Machine", "Create", "Engineers")</h5>
<h5>@Html.ActionLink("Back to Machines", "Index")</h5>
<h5>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</h5>
<h5>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</h5>