@{
  Layout = "_Layout"; 
}

@model Factory.Models.Engineer

<h1>Add a Machine</h1>
<hr>
<h3>Add a Machine to this Engineer: @Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.HiddenFor(model => model.EngineerId)
    @Html.Label("Select Machine")
    @Html.DropDownFor("MachineId", null, new {@class="form-control"})
  </div>
  <input type="submit" value="Save" class="btn btn-outline-dark">
}
<h5>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</h5>
<h5>@Html.ActionLink("Back to Engineer list", "Index")</h5>
